.image-upload {
  display: flex;
  flex-direction: column;
  &.center &__preview {
    width: 10rem;
    height: 10rem;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__preview {
    margin-bottom: 1rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
