// COLORS
$color-primary: #9562ED;
$color-primary-dark: #5E2FBD;
$color-primary-light: #BF9CFA;

$color-grey-dark: #342C44;
$color-grey-dark2: #7D7787;

$color-grey-light: #F9F8FC;
$color-grey-light2: #F5EFFE;
$color-grey-light3: #B5B2BB;

$shadow-dark: 0 2rem 6rem rgba(black, .1);
$shadow-light: 0 1rem 3rem rgba(black, .1);

// FONT
$default-font-size: 1.6rem;

$screen-largest: 120em; //1920px
$screen-larger: 75em; //1200px
$screen-large: 62.5em; //1000px
$screen-medium: 57em; //800px
$screen-small: 37.5em; //600px