.user-list {
  margin: 4rem 0;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.user-item {
  &__content {
    display: flex;
    gap: 2rem;
  }

  .card:hover {
    background-color: $color-grey-dark;
    color: white;
  }

  &__info {
    h2 {
      color: $color-primary;
    }
  }
}
